.cartitems{
    margin:100px 170px;

}

.cartitems-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.cartitems-table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
}

.cartitems-table th,
.cartitems-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.carticon-product-icon {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.cartitems-remove-icon {
  width: 45px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cartitems-remove-icon:hover{
    transform: scale(1.2);
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;

}

.summary-row td {
  padding-top: 14px;
  font-weight: bold;
  background-color: #f8f8f8;
}

.cartitems-checkout {
  text-align: right;
  margin-top: 20px;
}

.cartitems-checkout button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media(max-width:1043px){
    .cartitems{
        margin: 100px 100px;
    }
}


@media(max-width:916px){
    .cartitems{
        margin: 100px 60px;
    }

}

@media(max-width:710px){
    .cartitems-checkout button{
        font-size: 10px;
    }

    
}

