.loginsignup{
    width: 100%;
    height: 80vh;
    background:linear-gradient(180deg,#e3de90,#e1ffea22 90%);
    padding-top: 50px;
}

.loginsignup-container{
    width:580px;
    height: 550px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1{
    margin: 20px 0px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 50px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.role{
    padding: 8px;
    width: 110px;
    height: 40px;
    font-size: 14px;
    color: #5c5c5c;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}

.loginsignup-container button{
    width: 580px;
    height: 50px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width: 768px) {
  .loginsignup-container {
    width: 70%;
    height: auto;
    padding: 20px 40px;
  }

  .loginsignup-container button {
    width: 100%;
    font-size: 20px;
  }

  .loginsignup-fields input {
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 16px;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
  }

  .loginsignup-login {
    font-size: 16px;
    text-align: center;
  }
}


@media (max-width: 400px) {
  .loginsignup-container h1 {
    font-size: 26px;
    text-align: center;
  }

  .loginsignup-container {
    padding: 20px 15px;
  }

  .loginsignup-fields input {
    height: 45px;
    font-size: 15px;
  }

  .loginsignup-container button {
    font-size: 18px;
    height: 45px;
  }

  .loginsignup-agree {
    font-size: 14px;
  }

  .loginsignup-login {
    font-size: 15px;
  }
}
