.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-logo{
    width: 200px;
}

.nav-profile{
    width: 50px;
}

.navinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    padding-left: 10px;
    cursor: pointer;
    height: 20px;
}

.nav-name::before {
  content: "Meenal Joshi";
}

/* When screen is max 400px, show MJ */
@media (max-width: 400px) {
  .nav-name::before {
    content: "MJ";
  }
}


@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }

    .nav-logo{
        width: 150px;
    }

    .navinfo p{
        font-size: smaller;
    }
    

}